# Unreal build output
Binaries/
Build/
Intermediate/
Saved/
DerivedDataCache/
FileOpenOrder/

# Visual Studio
.vs/
*.user
*.suo
*.sln

# Compiled files
*.pdb
*.exp
*.lib

# Packaged builds
*.pak
*.sig

# Ignore Data Assets
Unreal_Freds_Escape/Content/Inventory/INV_DataAssets/